<div class="page">
  <div
    class="nav p-3 bg-red-600 text-white md:flex md:items-center md:justify-between"
  >
    <div class="title text-3xl font-bold">Title</div>
    <div class="nav mt-4 md:mt-0">
      <ul class="menu-items md:flex">
        <li class="menu-item mt-2 md:ml-4">
          <a href="#">Menu Item #1</a>
        </li>
        <li class="menu-item mt-2 md:ml-4">
          <a href="#">Menu Item #2</a>
        </li>
        <li class="menu-item mt-2 md:ml-4">
          <a href="#">Menu Item #3</a>
        </li>
        <li class="menu-item mt-2 md:ml-4">
          <a href="#">Menu Item #4</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content p-96 grid grid-cols-1 gap-8 lg:grid-cols-3">
    <div class="card px-4 py-2 my-4 shadow-xl">
      <h1 class="card-heading text-xl font-bold">Lorem ipsum</h1>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt
        sem eu quam posuere lacinia. Aenean blandit interdum libero quis
        laoreet. Etiam vehicula ex at nibh aliquet egestas. Etiam fermentum
        massa non risus malesuada vehicula. Praesent tortor orci, condimentum
        molestie erat a, molestie dictum augue. Praesent at sollicitudin nibh.
        Suspendisse at faucibus purus, bibendum cursus ex. Suspendisse ultrices
        nulla tellus, vitae lacinia sem sodales vel.
      </p>
    </div>
    <div class="card px-4 py-2 my-4 shadow-xl">
      <h1 class="card-heading text-xl font-bold">In ligula enim</h1>
      <p class="card-text">
        In ligula enim, tempus id risus et, maximus tincidunt turpis. Nullam sit
        amet tincidunt neque, at sodales odio. Sed sagittis, ante eget cursus
        dignissim, libero ex commodo tellus, in dapibus erat mauris ullamcorper
        sem. Proin tempus, lectus quis posuere aliquet, magna mauris tincidunt
        mauris, sed euismod augue leo mollis risus. Mauris porttitor mollis
        gravida. Ut rhoncus ipsum lectus, at fermentum risus varius in. Nam eu
        elementum felis, ultrices elementum nisi. Aenean dapibus mollis posuere.
        Phasellus lacinia risus mollis ipsum vestibulum ultrices. Etiam eu nisl
        convallis, rutrum neque ut, dignissim magna.
      </p>
    </div>
    <div class="card px-4 py-2 my-4 shadow-xl">
      <h1 class="card-heading text-xl font-bold">Cras vitae</h1>
      <p class="card-text">
        Cras vitae leo vitae felis placerat rutrum. Proin metus leo, scelerisque
        non nunc vel, venenatis rhoncus lacus. Donec elementum ante sed viverra
        viverra. Curabitur aliquet suscipit magna ac maximus. Duis at odio in
        sapien feugiat pharetra ut ac nibh. Nullam et commodo velit, vel dapibus
        urna. Nulla tristique, sapien consectetur cursus dapibus, nisl nulla
        ultrices nibh, fringilla varius eros lectus nec ante. Aliquam consequat
        varius erat, a interdum dolor consectetur id. Duis in enim quis augue
        consectetur bibendum. Nullam blandit mi mi, ut imperdiet libero interdum
        quis.
      </p>
    </div>
    <div class="card px-4 py-2 my-4 shadow-xl">
      <h1 class="card-heading text-xl font-bold">Maecenas auctor</h1>
      <p class="card-text">
        Maecenas auctor neque in sagittis luctus. Vestibulum sodales nibh ut
        eros scelerisque, in tincidunt enim lobortis. Praesent quam sem,
        interdum ac lectus quis, dictum blandit massa. Nunc eget vestibulum
        mauris, et fermentum urna. Nunc libero lacus, porta sit amet laoreet
        nec, porta in metus. Sed faucibus tristique lectus sed tincidunt. Sed
        eget enim eget elit rhoncus luctus. Sed volutpat sodales odio, quis
        feugiat mauris.
      </p>
    </div>
    <div class="card px-4 py-2 my-4 shadow-xl">
      <h1 class="card-heading text-xl font-bold">Integer convallis</h1>
      <p class="card-text">
        Integer convallis tincidunt varius. Duis eget diam aliquam, tincidunt
        augue vitae, accumsan lorem. Fusce fermentum, diam at auctor pulvinar,
        lacus tellus maximus arcu, et elementum neque massa porttitor justo.
        Vestibulum lorem diam, vehicula et est eget, pretium tristique risus.
        Vivamus cursus massa non augue tristique, ac ullamcorper magna
        porttitor. Sed pharetra ullamcorper metus, in finibus leo rutrum a. Duis
        vitae ornare mauris. Nullam a maximus ipsum, vitae vestibulum sem.
        Maecenas efficitur arcu non mauris porttitor, sit amet mattis lacus
        elementum.
      </p>
    </div>
  </div>
</div>
